table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
}
th, td {
    border: 1px solid white;
    height: 60px;
}

.table1 th {
    border: none;
    border-bottom: 1px solid white;
}
.table1 td {
    border: none;
    border-bottom: 1px solid white;
}
.table1 tr:hover {
    background-color: gray;
}
