body{
    background-color: lightpink;
    padding-bottom: 1000px;
}
h1{
    text-align: center;
}
.div1{
    border: 1px solid gray;
    border-radius: 10px;
    position: sticky;
    top: 50px;
    background-color: gray;
}
.div2{
    border: 2px solid black;
    width: 800px;
    height: 500px;
    position: relative;
}
.div2 img{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.div3{
    border: 3px solid yellow;
    width: 500px;
    height: 300px;
    overflow: auto;
}
.div3 p{
    text-align: justify;
    
}