body{
    background-color: lightgoldenrodyellow;
}
h1{
    text-align: center;
}
.div1{
    border: 1px solid black;
    width: 100px;
    height: 50px;
    float: left;
}
.div2{
    border: 1px solid red;
}
.div3{
    border: 1px solid black;
    width: 100px;
    height: 50px;
    clear: left;
}
.div4{
    border: 1px solid red;
}