*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgoldenrodyellow;
}
ul{
    background-color: white;
    width: 20%;
    height: 100vh;
}
li{
    border-bottom: 1px solid black;
}
a{
    display: block;
    padding: 10px;
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: cursive;
    text-transform: capitalize;
    transition: 0.5s;
}
a:hover{
    background-color: black;
    color: white;
    padding-left: 30px;
}