*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E0f38;
}
ul{
    background-color: #3F0AA1;
    overflow: hidden;
    list-style-type: none;
}
li{
    float: left;
}
a{
   color: white;
   text-decoration: none;
   display: block;
   padding: 15px;
   text-transform: capitalize;
}
.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    width: 160px;
    background: rgb(184, 181, 181);
    position: absolute;
}
.dropdown:hover{
    background-color: red;
}
.dropdown:hover .dropdown-content{
    display: block;
}
a:hover{
    background-color: white;
    color: black;
}
.dropdown-content a{
    border-bottom: 0.3px solid lightgrey;
}