body{
    background-color: bisque;
}
h1{
    text-align: center;
}
div{
    height: 250px;
    margin-bottom: 30px;
    text-align: center;
}
.div1{
    background: radial-gradient(yellow, red);
}
.div2{
    background: radial-gradient(yellow, red, orange);
}
.div3{
    background: radial-gradient(circle, green, yellow, red, orange);
}