body{
    background-color: lightsalmon;
}
div{
    width: 800px;
    /* height: 500px; */
    margin: auto;
    margin-top: 100px;
    position: relative;
}
img{
    width: 800px;
    position: absolute;
}
.div1{
    height: 533px;
}
p{
    font-size: 20px;
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.top-right{
    position: absolute;
    left: 650px;
    top: 0;
}
.top-left{
    position: absolute;
    left: 0;
    top: 0;
}
.center{
    position: absolute;
    left: 350px;
    top: 200px;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    left: 600px;
}
.bottom-left{
    position: absolute;
    bottom: 0;
}