.div1{
    margin: 0 300px;
    width: 500px;
}
.div2 img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 120px;
}
.div3 img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 120px;
}
.div4 img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 120px;
}
.div5 img{
     border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 120px
}